* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.ContainerGeral {
  flex: 1 0 auto;
  padding: 30px;
  gap: 19px;
}
.certAnatel {
  background-color: rgb(255, 255, 255);
  height: 6rem;
  margin-top: 0.5rem;
  border-bottom: 1px solid black;
}
.titleAnatel {
  text-align: center;
  padding-top: 2rem;
  font-size: 40px;
  font-family: "Poppins";
}

.descriptionPontotwo {
  text-decoration: none;
  color: #ff6347;
  font-size: 25px;
}
.contentPrimaryService {
}
.imgTwoService {
}
.sidebarService {
}
.textSidebar {
}
.ContainerGeral {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-areas: "mainContainerService  contentSecundaryService" "productCert productCert";
}
.mainContainerService {
  grid-area: "mainContainerService";
}
.contentSecundaryService {
  grid-area: "contentSecundaryService";
}

.imgSidebar {
  width: 100%;
  height: 500px;
}
.contentPrimaryService {
  height: 400px;
  width: 90%;

  padding-top: 80px;
}
.descriptionOne {
  font-size: 30px;
  font-family: "Poppins";
  font-weight: 300;
}
.descriptionOnePontoUM {
  font-weight: bold;
}
.descriptionPontothree {
  font-size: 30px;
  font-weight: 300;
  font-family: "Poppins";
}
.imgTwoService {
  margin-top: 120px;
}
.imgServiceWifi {
  width: 100%;
}
.textSidebar {
  padding-left: 50px;
}
.textoneSidebar {
  margin-top: 20px;
  font-size: 30px;
  font-family: "Inter";
}
.NegritoSidebarOne {
  font-size: 29px;
  font-family: "Inter";
  color: #ff6347;
}
.textTwoSidebar {
  font-size: 26px;
  font-weight: 300;
  font-family: "Poppins";
}
.NegritoSidebar {
  font-weight: bold;
}
.productCert {
  grid-area: "productCert";
  grid-column: 1/4;
  background-color: #f0f0f0;
}
.titleProduct {
  text-align: center;
  font-family: "Poppins";
  font-size: 29px;
  font-weight: 300;
  line-height: 250%;
  padding: 10px;
}
.listProduct {
  text-align: center;
  font-family: "Poppins";
  font-size: 23px;
  font-weight: 300;
}
.ato7280 {
  text-decoration: none;
  color: #ff6347;
}
.contentProduct {
  padding: 17px;
}
