@media (max-width: 1920px) {
  .gridcontainer {
  }
  .Benefits {
    padding-top: 8rem;
  }
  .liva {
    text-align: center;
  }
}

@media (max-width: 1250px) {
  #imgheaderreichermann {
    /* display: inline;
    position: relative;
    left: 45%;*/
    display: flex;
  }
  #ImgHeader {
    display: flex;
    width: 119%;
    height: 100%;
  }
}

@media (max-width: 1240px) {
  .buttonCert {
    margin-top: 5px;
  }
  .anchorCert {
    padding: 5px;
  }

  .contentPrimary {
    min-height: 100vh;
  }
}

@media (max-width: 1197px) {
  .header {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
  }
  .benefitsOne {
    font-size: 15;
  }
  .li {
    font-size: 13px;
  }
}
@media (max-width: 1115px) {
  .gridcontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .segundaryContentgrid {
    min-width: 90%;
  }
  .fundoBenefits {
    padding: 20px;
  }
  .imgfund {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25%;
  }
  .descriptionBenefits {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .list {
    text-align: center;
  }
}
@media (max-width: 1104px) {
  .gridcontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .segundaryContentgrid {
    min-width: 90%;
  }
}

@media (max-width: 1075px) {
  .buttonheaderglobal {
    padding: 10px;
  }
}

@media (max-width: 1024px) {
  .titleone {
    font-size: 35px;
  }
  .textSecondary {
    font-size: 27px;
  }
  .contentPrimary {
    min-height: 50vh;
  }
}

@media (max-width: 948px) {
  .gridcontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .buttonCert {
    margin-top: 15px;
  }
  .textSecondary {
    font-size: 25px;
  }
  .segundaryContentgrid {
    width: 100%;
  }
  .benefitsOne {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imgfund {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25%;
  }
}

@media (max-width: 890px) {
  .buttonheaderglobal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .imgfund {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35%;
  }
}
@media (max-width: 834px) {
  .titleone {
    font-size: 29px;
  }
  .textSecondary {
    font-size: 25px;
  }
  .contentPrimary {
    min-height: 40vh;
  }
  .buttonheaderglobal {
    gap: 50px;
  }
  .ImgTop {
    width: 28em;
  }

  .benefitsOne {
    font-size: 30px;
  }
  .li {
    font-size: 25px;
  }
  .imgfund {
    padding-top: 75%;
  }
}

@media (max-width: 815px) {
  .PrimeiroProcesso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-left: 20px;
  }

  .PrimeiroProcessoSegunda {
    grid-column: 1/4;

    padding: 0px;
    margin-left: 30px;
  }

  #imgheaderreichermann {
    display: flex;
    flex-wrap: wrap;
    width: 140px;
  }
  .imgfund {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90%;
    width: 30px;
  }
}
@media (max-width: 800px) {
  .titleone {
    font-size: 35px;
  }
  .textSecondary {
    font-size: 25px;
  }
  .contentPrimary {
    min-height: 40vh;
  }
  .imgfund {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45%;
    width: 150px;
  }
}
@media (max-width: 730px) {
  .imgfund {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45%;
    width: 150px;
  }
  .imgfund {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 95%;
    width: 20px;
  }
}
@media (max-width: 725px) {
  .ImgTop {
    width: 10em;
    padding: 10px;
  }
  .imgfund {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100%;
    width: 18px;
  }
}
@media (max-width: 710px) {
  .benefitsOne {
    font-size: 25px;
  }
  .li {
    font-size: 23px;
  }
  .imgfund {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    width: 15px;
  }
}

@media (max-width: 695px) {
  .ImgTop {
    width: 10em;
    padding: 10px;
  }
  .buttonheaderglobal {
    gap: 20px;
  }
  .benefitsOne {
    font-size: 25px;
  }
  .li {
    font-size: 23px;
  }
  /*.imgfund {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50%;
    width: 90px;
  }*/
}

@media (max-width: 688px) {
  .contentPrimary {
    min-height: 60vh;
  }
  .titleone {
    font-size: 26px;
  }
  .textSecondary {
    font-size: 24px;
  }
  .imgfund {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 132%;
    width: 300px;
  }
}

@media (max-width: 665px) {
  .imgfund {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40%;
  }
}
@media (max-width: 660px) {
  .imgfund {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50%;
    width: 50px;
  }
}
@media (max-width: 640px) {
  .fundoBenefits {
    width: 25em;
  }
}

@media (max-width: 628px) {
  .fundoBenefits {
    width: 20em;
  }
  .imgfund {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60%;
  }
}

@media (max-width: 605px) {
  .TextPrimary {
    font-size: 15px;
  }
  .textSecondary {
    font-size: 29px;
  }
  .imgfund {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 130%;
    width: 400px;
  }
  .video {
    width: 100%;
    min-height: 100px;
    border-radius: 16px;
  }
  .fundoBenefits {
    width: 95%;
  }
  .benefitsOne {
    font-size: 20px;
  }
  .li {
    font-size: 20px;
  }
  .part2 {
    padding-top: 150px;
  }
}

@media (max-width: 600px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header .logo {
    min-width: 150px;
    min-height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .anchor {
    padding: 8px;
    background-color: transparent;

    cursor: pointer;
    transition: 1s;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
  }
  .anchor:hover {
    color: rgb(255, 0, 0);
  }

  .menu {
    display: block;
    position: absolute;
    top: 7.5rem;
    left: 0;
    background-color: rgb(150, 150, 150);
    width: 100%;
    text-align: center;
    height: 0;
    z-index: 1;
    transition: 0.5s;
    visibility: hidden;
    overflow: hidden;
  }
  .menu .anchor {
    padding: 1rem 19rem;
    margin-inline: 1rem;
    border-bottom: 0.0625rem solid rgba(0, 0, 0.16);
  }
  .teste {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    width: 100%;
  }
  .btn-menu {
    background: none;
    border: none;
    font: inherit;
    display: flex;
    width: 100%;
    height: auto;

    gap: 0.5rem;
    color: white;
    padding-block: 1rem;
    cursor: pointer;
  }

  .hamburger {
    border-top: 0.125rem solid;
    width: 1.25rem;
  }
  .hamburger::before,
  .hamburger::after {
    content: " ";
    display: block;
    width: 1.25rem;
    height: 0.125rem;
    background: currentColor;
    margin-top: 0.3125rem;
    position: relative;
    transition: 0.3s;
  }
  .nav.active .menu {
    height: calc(293vh - 7.5rem);
    visibility: visible;
    overflow-y: auto;
  }
  .nav.active .hamburger {
    border-color: transparent;
  }
  .nan.active .hamburger::before {
    transform: rotate(135deg);
  }
  .nav.active.hamburger::after {
    transform: rotate(-135deg);
    top: -0.4375rem;
  }
  .contentPrimary {
    min-height: 40vh;
  }

  .titleone {
    font-size: 25px;
  }
  .textSecondary {
    font-size: 22px;
  }
  .imgfund {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 134%;
    width: 300px;
  }
}
@media (max-width: 526px) {
  .ImgTop {
    width: 10em;
    padding: 10px;
  }
  .buttonheaderglobal {
    gap: 10px;
  }
  .textSecondary {
    font-size: 18px;
  }
  .TextPrimary {
    font-size: 20;
  }
}

@media (max-width: 478px) {
  .ImgTop {
    width: 10em;
    padding: 15px;
  }
  .buttonheaderglobal {
    gap: 8px;
  }
  .textSecondary {
    font-size: 15px;
  }
  .TextPrimary {
    font-size: 18;
  }
}

@media (max-width: 414px) {
  .listva {
    padding: 0px;
  }
  .PrimeiroProcesso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-left: 20px;
  }
  .ProcessoUmPontodois {
    width: 90%;
  }
  .ProcessoUm {
    width: 90%;
  }
  .PrimeiroProcessoCert {
    grid-column: 1/4;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .PrimeiroProcessoSegunda {
    grid-column: 1/4;

    padding: 0px;
    margin-left: 30px;
  }
  .titlefuncionCertifique {
    padding-top: 100px;
    font-size: 23px;
  }
  .descricaoPartThree {
    font-size: 18px;
    font-family: "Poppins";
  }
  .Benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .liva {
    position: relative;

    text-align: center;
    width: 350px;
  }
  .contentPrimary {
    height: 65vh;
  }
  .buttonCert {
    width: 110%;
  }
  .anchorCert {
    font-size: 17px;
  }
  .textSecondary {
    font-size: 20px;
    width: 110%;
    position: relative;
    right: 12px;
  }
  .buttonMobile {
    width: 50%;
  }
  .video {
    width: 100%;
    height: 250px;
    border-radius: 16px;
  }
  .titleone {
    font-size: 20px;
  }
  .buttonCertMobile {
    width: 80%;
    height: 20%;
  }
  .imgfund {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150%;
    width: 400px;
  }
  .part2 {
    height: 10px;
    margin-bottom: 15%;
  }
  .anchorDescMobile {
    width: 70%;
    height: 35%;
  }
  .textDescone {
    height: 300px;
    border: none;
  }
  .nav.active .menu {
    height: calc(418vh - 7.5rem);
    visibility: visible;
    overflow-y: auto;
  }
  .textfooterEnd {
    text-align: center;
  }
  .textfooterEnd2 {
    margin: 0;
    padding: 0px;
    text-align: center;
  }
  .subMenu {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .contentPrimary {
    min-height: 83vh;
  }
  .titleone {
    font-size: 18px;
    color: #fa0606fb;
  }
  .textSecondary {
    font-size: 17px;
  }
  .anchorCert {
    font-size: 15px;
  }
  .primaryContentgrid {
    min-width: 100%;
  }
  .Title {
    font-size: 25px;
  }
  .titlesmall {
    flex-wrap: wrap;
    font-size: 22px;
    width: 19rem;
    font-weight: bolder;
  }
  .segundaryContentgrid {
    display: none;
  }
  .novaImg {
    width: 20rem;
  }
  .Benefits {
  }
  .benefitsOne {
    font-size: 20px;
  }
  .liva {
    font-size: 15px;
    width: 15rem;
  }
  .imgfund {
    width: 15rem;
  }
  .part2 {
    width: 15rem;
  }
  .textDescone {
    font-size: 13px;
  }
  .textfooterEnd {
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
